<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <a href="#" class="d-block relative">
            <span class="d-block t-center content absolute">
                <span class="d-block t-blue">全新上市</span>
                <span class="d-block t-dark t-weight mt-2 mb-3" style="font-size:2rem">有序。收納小幫手系列</span>
                <span class="d-block t-dark" style="font-size:1.5rem">讓牆壁變成你最實用的收納空間</span>
            </span>
        </a>
    </header>   
    <div class="container" id="subscribe">
        <div class="row">
            <div class="col-12">
                <div class="content rounded-lg border-gray">
                    <a href="#" class="d-block relative">
                        <img src="https://picsum.photos/id/88/1400/400" alt="" class="img-cover rounded-lg">
                        <span class="absolute t-white t-weight">訂閱配送</span>
                    </a>
                </div>
            </div>
        </div>
    </div>     
    <div class="container row" id="activity">
        <div class="col-12 mb-3">
            <h2>活動特輯</h2>
        </div>
        <div class="col-3">
            <a href="#" class="d-block border-light rounded-lg t-dark t-none overflow-hidden">
                <img src="https://picsum.photos/id/46/800/600" class="img-cover">
                <span class="d-block p-2">五周年限定，白色好神托強勢回歸</span>
            </a>
        </div>
        <div class="col-3">
            <a href="#" class="d-block border-light rounded-lg t-dark t-none overflow-hidden">
                <img src="https://picsum.photos/id/26/800/600" class="img-cover">
                <span class="d-block p-2">五周年限定，白色好神托強勢回歸</span>
            </a>
        </div>
        <div class="col-3">
            <a href="#" class="d-block border-light rounded-lg t-dark t-none overflow-hidden">
                <img src="https://picsum.photos/id/36/800/600" class="img-cover">
                <span class="d-block p-2">五周年限定，白色好神托強勢回歸</span>
            </a>
        </div>
        <div class="col-3">
            <a href="#" class="d-block border-light rounded-lg t-dark t-none overflow-hidden">
                <img src="https://picsum.photos/id/56/800/600" class="img-cover">
                <span class="d-block p-2">五周年限定，白色好神托強勢回歸</span>
            </a>
        </div>
    </div>
    <div class="container row" id="new">
        <div class="col-12 mb-3">
            <h2>新品發表</h2>
        </div>
        <div class="col-3">
            <a href="#" class="d-block border-light rounded-lg t-dark t-none overflow-hidden relative">
                <img src="https://picsum.photos/id/67/800/600" class="img-cover">
                <span class="d-block p-2">五周年限定，白色好神托強勢回歸</span>
                <span class="badge absolute bg-dark t-white rounded-sm p-1">New</span>
            </a>
        </div>
        <div class="col-3">
            <a href="#" class="d-block border-light rounded-lg t-dark t-none overflow-hidden relative">
                <img src="https://picsum.photos/id/68/800/600" class="img-cover">
                <span class="d-block p-2">五周年限定，白色好神托強勢回歸</span>
                <span class="badge absolute bg-dark t-white rounded-sm p-1">New</span>
            </a>
        </div>
        <div class="col-3">
            <a href="#" class="d-block border-light rounded-lg t-dark t-none overflow-hidden">
                <img src="https://picsum.photos/id/69/800/600" class="img-cover">
                <span class="d-block p-2">五周年限定，白色好神托強勢回歸</span>
            </a>
        </div>
        <div class="col-3">
            <a href="#" class="d-block border-light rounded-lg t-dark t-none overflow-hidden">
                <img src="https://picsum.photos/id/70/800/600" class="img-cover">
                <span class="d-block p-2">五周年限定，白色好神托強勢回歸</span>
            </a>
        </div>

    </div>
    <div class="container row" id="promotion">
        <div class="col-12 mb-3">
            <h2>限定促銷</h2>
        </div>
        <div class="col-3 pb-5">
            <a href="#" class="d-flex t-none border-light relative rounded overflow-hidden">
                <img src="https://picsum.photos/id/90/150">
                <span class="d-block">
                    <span class="t-dark p-2 d-block">防蚊卡夾(白色)</span>
                    <span class="d-block p-2 absolute t-right w-100" style="left:0;bottom:0">
                        <span class="t-gray t-line-through">$499</span>
                        <span class="t-red">$450</span>
                    </span>
                </span>
            </a>
        </div>
        <div class="col-3 pb-5">
            <a href="#" class="d-flex t-none border-light relative rounded overflow-hidden">
                <img src="https://picsum.photos/id/87/150">
                <span class="d-block">
                    <span class="t-dark p-2 d-block">防蚊卡夾(白色)</span>
                    <span class="d-block p-2 absolute t-right w-100" style="left:0;bottom:0">
                        <span class="t-gray t-line-through">$499</span>
                        <span class="t-red">$450</span>
                    </span>
                </span>
            </a>
        </div>
        <div class="col-3 pb-5">
            <a href="#" class="d-flex t-none border-light relative rounded overflow-hidden">
                <img src="https://picsum.photos/id/88/150">
                <span class="d-block">
                    <span class="t-dark p-2 d-block">防蚊卡夾(白色)</span>
                    <span class="d-block p-2 absolute t-right w-100" style="left:0;bottom:0">
                        <span class="t-gray t-line-through">$499</span>
                        <span class="t-red">$450</span>
                    </span>
                </span>
            </a>
        </div>
        <div class="col-3 pb-5">
            <a href="#" class="d-flex t-none border-light relative rounded overflow-hidden">
                <img src="https://picsum.photos/id/89/150">
                <span class="d-block">
                    <span class="t-dark p-2 d-block">防蚊卡夾(白色)</span>
                    <span class="d-block p-2 absolute t-right w-100" style="left:0;bottom:0">
                        <span class="t-gray t-line-through">$499</span>
                        <span class="t-red">$450</span>
                    </span>
                </span>
            </a>
        </div>
        <div class="col-3 pb-5">
            <a href="#" class="d-flex t-none border-light relative rounded overflow-hidden">
                <img src="https://picsum.photos/id/99/150">
                <span class="d-block">
                    <span class="t-dark p-2 d-block">防蚊卡夾(白色)</span>
                    <span class="d-block p-2 absolute t-right w-100" style="left:0;bottom:0">
                        <span class="t-gray t-line-through">$499</span>
                        <span class="t-red">$450</span>
                    </span>
                </span>
            </a>
        </div>
        <div class="col-3 pb-5">
            <a href="#" class="d-flex t-none border-light relative rounded overflow-hidden">
                <img src="https://picsum.photos/id/98/150">
                <span class="d-block">
                    <span class="t-dark p-2 d-block">防蚊卡夾(白色)</span>
                    <span class="d-block p-2 absolute t-right w-100" style="left:0;bottom:0">
                        <span class="t-gray t-line-through">$499</span>
                        <span class="t-red">$450</span>
                    </span>
                </span>
            </a>
        </div>
        <div class="col-3 pb-5">
            <a href="#" class="d-flex t-none border-light relative rounded overflow-hidden">
                <img src="https://picsum.photos/id/101/150">
                <span class="d-block">
                    <span class="t-dark p-2 d-block">防蚊卡夾(白色)</span>
                    <span class="d-block p-2 absolute t-right w-100" style="left:0;bottom:0">
                        <span class="t-gray t-line-through">$499</span>
                        <span class="t-red">$450</span>
                    </span>
                </span>
            </a>
        </div>
        <div class="col-3 pb-5">
            <a href="#" class="d-flex t-none border-light relative rounded overflow-hidden">
                <img src="https://picsum.photos/id/96/150">
                <span class="d-block">
                    <span class="t-dark p-2 d-block">防蚊卡夾(白色)</span>
                    <span class="d-block p-2 absolute t-right w-100" style="left:0;bottom:0">
                        <span class="t-gray t-line-through">$499</span>
                        <span class="t-red">$450</span>
                    </span>
                </span>
            </a>
        </div>
        <div class="col-3 pb-5">
            <a href="#" class="d-flex t-none border-light relative rounded overflow-hidden">
                <img src="https://picsum.photos/id/95/150">
                <span class="d-block">
                    <span class="t-dark p-2 d-block">防蚊卡夾(白色)</span>
                    <span class="d-block p-2 absolute t-right w-100" style="left:0;bottom:0">
                        <span class="t-gray t-line-through">$499</span>
                        <span class="t-red">$450</span>
                    </span>
                </span>
            </a>
        </div>
        <div class="col-3 pb-5">
            <a href="#" class="d-flex t-none border-light relative rounded overflow-hidden">
                <img src="https://picsum.photos/id/94/150">
                <span class="d-block">
                    <span class="t-dark p-2 d-block">防蚊卡夾(白色)</span>
                    <span class="d-block p-2 absolute t-right w-100" style="left:0;bottom:0">
                        <span class="t-gray t-line-through">$499</span>
                        <span class="t-red">$450</span>
                    </span>
                </span>
            </a>
        </div>
        <div class="col-3 pb-5">
            <a href="#" class="d-flex t-none border-light relative rounded overflow-hidden">
                <img src="https://picsum.photos/id/93/150">
                <span class="d-block">
                    <span class="t-dark p-2 d-block">防蚊卡夾(白色)</span>
                    <span class="d-block p-2 absolute t-right w-100" style="left:0;bottom:0">
                        <span class="t-gray t-line-through">$499</span>
                        <span class="t-red">$450</span>
                    </span>
                </span>
            </a>
        </div>
        <div class="col-3 pb-5">
            <a href="#" class="d-flex t-none border-light relative rounded overflow-hidden">
                <img src="https://picsum.photos/id/92/150">
                <span class="d-block">
                    <span class="t-dark p-2 d-block">防蚊卡夾(白色)</span>
                    <span class="d-block p-2 absolute t-right w-100" style="left:0;bottom:0">
                        <span class="t-gray t-line-through">$499</span>
                        <span class="t-red">$450</span>
                    </span>
                </span>
            </a>
        </div>
        <div class="col-3 pb-5">
            <a href="#" class="d-flex t-none border-light relative rounded overflow-hidden">
                <img src="https://picsum.photos/id/91/150">
                <span class="d-block">
                    <span class="t-dark p-2 d-block">防蚊卡夾(白色)</span>
                    <span class="d-block p-2 absolute t-right w-100" style="left:0;bottom:0">
                        <span class="t-gray t-line-through">$499</span>
                        <span class="t-red">$450</span>
                    </span>
                </span>
            </a>
        </div>
    </div>
</body>

</html>