/* header */

header a{
    background-image: url("../images/bg-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding-top: 400px;
    padding-bottom: 400px;
}

header .content {
    /* background-color: #ccc; */
    width: 400px;
    top: 35%;
    left: 25%;
}
#subscribe {
    padding-top: 100px;
    padding-bottom: 100px;
}
#subscribe a {
    height: 150px;
}
#subscribe span {
    z-index: 99;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.5rem;
}
